*{
  --font_color: #fee6ff;
  --background_color: #19081a;
  --form_padding: 80px
}

body {
  display: flex;
  background: lightcoral;
  font-family: 'Roboto', sans-serif;
  width: 1500px;
  height: 1500px;
  flex-direction: column;
}

.form {
  box-sizing: border-box;
  background-color: var(--background_color);
  color:#dd48dd;
  font-weight: bold;
  display: grid;
  grid-template-columns: 35% 65%;
  padding: var(--form_padding) var(--form_padding) 0px var(--form_padding);
  margin: 0;
  width: 1500px;
  height: 1500px;
  overflow: hidden;
  color:var(--font_color);
}

.teacher-face-and-name {
  display: flex;
  flex-direction: column;

}

.teacher-face {
  height: auto;
  width: 100%
}

.img-container {
  width: 390px;
  height: 390px;
  overflow: hidden;
  align-self: center;
}

.teacher-name {
    text-align: center;
    font-size: 35px;
    height: 70px;
    margin-top: 55px;
}

.left-info {
    overflow: hidden;
}

.right-info {
  overflow: hidden;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.respondents-count {
  font-size: 40px;
  vertical-align: bottom;
}

.respondents-count-description {
  font-size: 22px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
}

.radial {
  height: 758px;
}

.general-numbers {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-flow: column nowrap;
  height: 56%;
  padding-top: 50px;
}

.graph-education {
  width: 33.33%;
  overflow: auto;
}

.education-level {
  font-size: 28px;
  line-height: 30px;
  font-weight: normal;
  padding-left: 30px;
  text-align: center;
}

.graphs {
  display: flex;
  justify-content: space-between;
}

.manage-zone {
  width: 50%;
  height: 50%;
}

#row-number {
  font-size: 25pt;
  width: 60px;
  height: 50px;
  margin-top: 25px;
  margin-left: 25px;
}

#table-teachers-URL {
  font-size: 40px;
  width: 600px;
  height: 200px;
  margin-top: 25px;
  margin-left: 25px;
}

#draw-button {
  font-size: 40pt;
  width: 600px;
  height: 100px;
  margin-top: 5px;
  margin-left: 25px;
}

#popup-button {
  font-size: 40pt;
  width: 600px;
  height: 100px;
  margin-top: 5px;
  margin-left: 25px;
}

.helper-div {
  height: 280px
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.continuation-percent {
  font-size: 75px;
  padding: 0 0 0 0;
  margin: 0;
  line-height: normal;
  text-align: center;
}

.continuation-percent-description {
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  color: var(--font_color);
  text-align: center;
  width: 190px;
}

.first-string {
  font-size: 70px;
  padding: 0 0 0 0;
  margin: 0;
  line-height: normal;
  text-align: center;
}

.first-string-description {
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  color: var(--font_color);
  text-align: center;
  width: 190px;
}

.second-string {
  font-size: 70px;
  line-height: normal;
  text-align: center;
}

.second-string-description {
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  color: var(--font_color);
  text-align: center;
  width: 190px;
}

.semester-and-year {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--form_padding);
  font-size: 30px;
  color: var(--font_color);
  background-color: var(--background_color);
}

